body{
  background-color:#006957;
margin: 0;
text-align: center;
color: #82CE9F;
}

header{
  background-color:#019D60 ;
}
h1, ul{
  margin:0;
}
.JSAG{

  height:100px;
  width: 100px;
  border-radius: 100%;

}
nav{
  display: flex;
   justify-content: center;
   text-decoration: none;

}
li{
  display:inline-block;

}
a{
  text-decoration: none;
  color: #82CE9F;
}
