@media screen and (max-width:600px)
{
  nav img{
    display:none;
  }
  #body{
    display:block;
    width:100%;
  }
  .navigation{
    text-align: center;
    width:100%;
    line-height:2;
  }
  ul{
    padding:0;
  }
}
