@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
header{
  background-image: url(../img/slide-1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;

}
nav{
  display: flex;
  justify-content: space-between;
}
ul{
  display: inline-flex;
  list-style: none;
}
li{
  padding: 10px;
  margin:10px;
}
h1{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:40vh;
  width:110vw;
  font-size: 15vw;
}
