body{
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows:repeat(5, 100px);
grid-gap:10px;
grid-template-areas:
'head head header'
'aside main main'
'aside main main'
'foot foot foot';
}
.a{
  grid-area:header;
  background-color: hsl(41, 64%, 58%);
  /*padding:10px;*/
  /*grid-column:span 2;*/
}
.b{
  grid-area:aside;
  background-color: hsl(292, 35%, 57%);
  /*grid-column:1 / span 3;
  grid-row: 2 / span 3;*/
}
.c{
  grid-area:main;
  background-color: hsl(242, 69%, 59%);
  /*grid-column:2;
  grid-row:3;*/
}
.d{
  grid-area:foot;
  background-color: hsl(157, 72%, 75%);
  /*grid-column:1;
  grid-row:1;*/
}
